{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="px-8 py-6 -mt-4 text-left bg-white shadow-lg">
            <h3 class="text-2xl font-bold text-center">Please sign in</h3>
            <form method="post">
                {% if error %}
                    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-4">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-600 hover:underline">Logout</a>
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="username" class="block">Email</label>
{#                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" autocomplete="email" required autofocus>#}
                    <input type="email" value="test@mail.com" name="_username" id="username" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" autocomplete="email" required autofocus>
                </div>
                <div class="mb-4">
                    <label for="password" class="block">Password</label>
                    <input type="password" value="1234" name="_password" id="password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" autocomplete="current-password" required>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="w-full px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700" type="submit">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}
