<form method="POST" class="space-y-4" enctype="multipart/form-data">
    {{ form_start(form) }}
    <div>
        <label for="blog_post_title" class="text-sm font-medium">Title</label>
        {{ form_widget(form.title, {'attr': {'class': 'shadow-inner w-full bg-white border hover:border-gray-900 transition-all text-gray-900 mt-2 p-4 rounded-xl focus:outline-none focus:shadow-outline', 'placeholder': 'Add title'}}) }}
    </div>

{#    add published at field#}
    <div>
        <label for="blog_post_publishedAt" class="text-sm font-medium">Published At</label>
        {{ form_widget(form.publishedAt, {'attr': {'class': 'shadow-inner w-full bg-white hover:border-gray-900 transition-all border text-gray-900 mt-2 p-4 rounded-xl focus:outline-none focus:shadow-outline', 'placeholder': 'Add published at'}}) }}
    </div>

    <div>
        <label for="blog_post_tags" class="text-sm font-medium">Tags</label>
        {{ form_widget(form.tags, {'attr': {'class': 'shadow-inner w-full bg-white hover:border-gray-900 transition-all border text-gray-900 mt-2 p-4 rounded-xl focus:outline-none focus:shadow-outline', 'multiple': 'multiple'}}) }}
    </div>

    {% if blog_post.banner %}
        <img
            src="{{ asset(uploaded_asset(blog_post.banner)) }}"
            alt="{{ blog_post.title }}"
        >

        <span>Delete image: {{ form_widget(form.delete_banner) }}</span>
    {% endif %}

    <div>
        {{ form_widget(form.banner) }}
    </div>

    <div>
        <label for="blog_post_summary" class="text-sm font-medium">Summary</label>
        {{ form_widget(form.summary) }}
    </div>

    <div>
        <label for="blog_post_content" class="text-sm font-medium">Content</label>
        {{ form_widget(form.content, {'attr': {'rows': '20', 'placeholder': 'Add content'}}) }}
    </div>

    <button type="submit" class="px-12 py-3 bg-black hover:bg-black/90 rounded-xl text-white flex place-items-center justify-center">
        Save
    </button>
    {{ form_end(form) }}
</form>
