<form method="POST" class="space-y-4" enctype="multipart/form-data">
    {{ form_start(form) }}
    <div>
        <label for="blog_post_title" class="block text-sm font-medium text-gray-700">Title</label>
        {{ form_widget(form.title, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2'}}) }}
    </div>

    {% if blog_post.banner %}
        <div>
            <img src="{{ asset(uploaded_asset(blog_post.banner)) }}" alt="{{ blog_post.title }}" class="w-full h-64 object-cover rounded">
            Delete banner: {{ form_widget(form.delete_banner) }}
        </div>
    {% endif %}


    <div>
        {{ form_widget(form.banner) }}
    </div>

    <div>
        <label for="blog_post_content" class="block text-sm font-medium text-gray-700">Content</label>
        {{ form_widget(form.content, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2'}}) }}
    </div>

    <div>
        <label for="blog_post_tags" class="block text-sm font-medium text-gray-700">Tags</label>
        {{ form_widget(form.tags, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-2', 'multiple': 'multiple'}}) }}
    </div>

    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Submit
    </button>

    {{ form_end(form) }}
</form>
