{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block body %}
    <article class="prose prose-h1:text-balance pt-12 mx-auto max-w-screen-lg w-full prose-p:text-black prose-p:text-lg prose-p:font-light">
        <div class="flex flex-row justify-between items-baseline gap-44">
            <h1>{{ blog_post.title }}</h1>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_blog_post_edit', {'id': blog_post.id}) }}" class="bg-gray-200 shadow hover:bg-gray-300 text-gray-900 font-bold py-2 px-4 rounded-xl inline-flex items-center no-underline">
                    Edit
                </a>
            {% endif %}
        </div>
        <small>Published at: {{ blog_post.publishedAt ? blog_post.publishedAt|date('D d M Y H:i') : '' }}</small>
        <small>Updated at: {{ blog_post.updatedAt ? blog_post.updatedAt|date('D d M Y · H:i') : '' }}</small>

        {% if blog_post.banner %}
            <img src="{{ asset(uploaded_asset(blog_post.banner)) }}" alt="{{ blog_post.title }}" class="h-full w-full object-cover">
        {% endif %}
        <p>{{ blog_post.content|purify }}</p>
    </article>
{% endblock %}
