{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        {% for blog_post in pager %}
            <div>
                <a href="{{ path('app_blog_post_show', {'slug': blog_post.slug}) }}">{{ blog_post.title }}</a>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_tag_index') }}">back to list</a>

    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">edit</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
